{% extends 'base.html' %}
{% block container %}
<main class="container mt-3">
    <h1 class="h1 text-center w-50 mx-auto mt-1 py-5 mb-4"><strong>All teachers</strong></h1>



      <div class="row">
      <div class="col-12 col-lg-10 offset-lg-1 m-auto">


        <div class="card mb-4">
          <div class="card-body align-right">
            <p class="lead float-left d-inline-block mt-2 mb-0"><strong>{{ teachers_dictionary|length }} teachers in the database</strong></p>
          </div>
        </div>

{% for teacher_data in teachers_dictionary %}
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-3"><img src="{{ teacher_data.picture }}" class="img-fluid" alt=""></div>
              <div class="col-9">
                <p class="float-right">Rating: {{ teacher_data.rating }} Price: {{ teacher_data.price}} / hour</p>
                <h2 class="h4">{{ teacher_data.name }}</h2>
                <p>{{ teacher_data.about }}</p>
                <a href="/profiles/{{ teacher_data.id }}" class="btn btn-outline-primary btn-sm mr-3 mb-2">Show information and schedule</a>

              </div>
            </div>
          </div>
        </div>
{% endfor %}
      </div>
    </div>

    <h2 class="text-center mt-5 mb-3">Didn't find your tutor?</h2>
    <p class="text-center mb-4">Tell us who you need and we will pick it up for you</p>
    <div class="text-center pb-5">
        <a href="/request" class="btn btn-primary">Order selection</a>
    </div>

  </main>
{% endblock %}
