{% extends 'base.html' %}
{% block container %}
<main class="container mt-3 mb-5">
    <section>
    <h1 class="h1 text-center mx-auto mt-4 py-5"><strong>Find your ideal <br>English tutor, <br>study online</strong></h1>
    <div class="text-center mb-5">
      <div class="btn-group mx-auto mb-0" role="group" aria-label="Basic example">
         <a href="/goals/travel" class="btn btn-outline-secondary">⛱Travel</a>
         <a href="/goals/study" class="btn btn-outline-secondary">🏫 School</a>
         <a href="/goals/work" class="btn btn-outline-secondary">🏢 For work</a>
         <a href="/goals/relocate" class="btn btn-outline-secondary">🚜 To move</a>
      </div>
    </div>
    <h2 class="h5 text-center mb-5">Our teachers</h2>
{% for teacher_data in teachers_dict_3 %}
    <div class="row">
      <div class="col-12 col-lg-10 offset-lg-1 m-auto">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-3"><img src="{{ teacher_data.picture }}" class="img-fluid" alt=""></div>
              <div class="col-9">
                <p class="float-right">Rating: {{ teacher_data.rating }} Price: {{ teacher_data.price}} / hour</p>
                <h2 class="h4">{{ teacher_data.name }}</h2>
                <p>{{ teacher_data.about }}</p>
                <a href="/profiles/{{ teacher_data.id }}" class="btn btn-outline-primary btn-sm mr-3 mb-2">Show information and schedule</a>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endfor %}

    <h2 class="text-center mt-5 mb-3">Didn't find your tutor?</h2>
    <p class="text-center mb-4">Tell us who you need and we will pick it up for you</p>
    <div class="text-center pb-5">
        <a href="/request" class="btn btn-primary">Order selection</a>
    </div>


    </section>
  </main>
{% endblock %}