{% extends 'base.html' %}
{% block container %}
<main class="container mt-3">
    <div class="card my-4 mx-auto">
      <div class="card-body m-2 m-md-4">
        <article class="row">
          <div class="col-5"><img src="{{ teacher_data.picture }}" class="img-fluid" alt="picture"></div>
          <div class="col-7">

            <section class="teacher=info">

              <h1 class="h2">{{ teacher_data.name }}</h1>
              <p>
                {% for goal in teacher_data.goals %}
                  <span class="badge badge-secondary mr-2">For {{ goal }} </span>
                {% endfor %}<br>
                Rating: {{ teacher_data.rating }} Price: {{ teacher_data.price}} / hour</p>
              <p>{{ teacher_data.about }}</p>

            </section>

            <section class="available">

              <h4 class="mb-4 mt-5">Try a trial lesson</h4>
                {% set day_names = {'mon': 'Monday', 'tue': 'Tuesday', 'wed': 'Wednesday', 'thu': 'Thursday', 'fri': 'Friday', 'sat': 'Saturday', 'sun': 'Sunday'} %}
                {% for day, time in teacher_data.free.items() %}
                  {% if day not in busy_days %}
                    <h6 class="mt-4">{{ day_names[day] }}</h6>
                  {% endif %}
                  {% for hours, boolean in time.items() %}
                    {% if boolean %}
                      <a href="/booking/{{ teacher_data.id }}/{{ day }}/{{ hours }}" class="btn btn-outline-success mr-2">{{ hours }} free</a>
                    {% endif %}
                  {% endfor %}
              {% endfor %}
              {% if (busy_days|length) == 7 %}
                <p>There are no free days at this moment :(</p>
              {% endif %}

            </section>

          </div>
        </article>
      </div>

    </div>
  </main>
{% endblock %}
