{% extends 'base.html' %}
{% block container %}
<main class="container mt-5">
    <div class="col-12 col-sm-10 col-lg-6 offset-lg-3 offset-sm-1">
      <form action="/request_done/" method="POST" class="card mb-5">
        <div class="card-body text-center pt-5">
          <h1 class="h3 card-title mt-4 mb-2">Teacher selection</h1>
          <p class="px-5">Write what you need and we will pick up great guys</p>
        </div>
        <hr>
        <div class="card-body mx-3">
          <div class="row">
            <div class="col">
              <p>Your goal?</p>
              <div class="form-check ">
                <input type="radio" class="form-check-input" name="goal" value="travel" id="goal1" checked>
                <label class="form-check-label" for="goal1">
                  For travel
                </label> 
              </div>
              <div class="form-check ">
                <input type="radio" class="form-check-input" name="goal" value="learn" id="goal2">
                <label class="form-check-label" for="goal2">
                  For school
                </label>
              </div>
              <div class="form-check ">
                <input type="radio" class="form-check-input" name="goal" value="work" id="goal3">
                <label class="form-check-label" for="goal2">
                  For work
                </label>
              </div>
              <div class="form-check ">
                <input type="radio" class="form-check-input" name="goal" value="move" id="goal4">
                <label class="form-check-label" for="goal2">
                  For relocation
                </label>
              </div>
            </div>
            <div class="col">
              <p>How much time do you have?</p>
              <div class="form-check">
                <input type="radio" class="form-check-input" name="time" value="1-2" id="time1">
                <label class="form-check-label" for="time1">
                  1-2 hours per week
                </label> 
              </div>
              <div class="form-check">
                <input type="radio" class="form-check-input" name="time" value="3-5" id="time2">
                <label class="form-check-label" for="time2">
                  3-5 hours per week
                </label>
              </div>
              <div class="form-check">
                <input type="radio" class="form-check-input" name="time" value="5-7" id="time3" checked>
                <label class="form-check-label" for="time3">
                  5-7 hours per week
                </label> 
              </div>
              <div class="form-check">
                <input type="radio" class="form-check-input" name="time" value="7-10" id="time4">
                <label class="form-check-label" for="time4">
                  7-10 hours per week
                </label>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="card-body mx-3">
          <label class="mb-1 mt-2">Your name</label>
          <input class="form-control" type="text" name="clientName" placeholder="">
          <label class="mb-1 mt-2">Your phone</label>
          <input class="form-control" type="tel" name="clientPhone" placeholder="">
          <input type="submit" class="btn btn-primary mt-4 mb-2" value="Find me a teacher">
        </div>
      </form>
    </div>
  </main>
{% endblock %}
